@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #222;
    background-color: #CCC;
}

/* Navbar start */
#leisteOben {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #A00;
    border-bottom-color: #A00;
    width: 100px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-left: 3px;
}
#leisteOben nav {
    display: inline;
}

nav a {
    color: #222;
    font-weight: bold;	
}
/* Navbar end */

h1 {
    font-size: 16pt;
    color: #A00;
    padding-top: 4px;
}

table a {
    color: #A00;
}

table {
    width: 50%;
}
table .even {
    background-color: #EEE;
}
table .odd {
    background-color: #DDD;
}